# 목차1 - 식별자
- 식별자에 대해 배웁니다.

## snake case와 camel case
-각 프로그래밍 언어마다 양식이 존재함
-클래스를 정의할 때, 앞문자가 대문자여야 함 => camel case
-일반적인 함수를 정의할 때, snake_case 방식으로 사용해라.

# 목차2 - 식별자 구분하기

#입력과 출력
input() :입력
print() :출력

In [1]:
var1 = input("아무거나 입력!!")
print(var1)

아무거나 입력!! dafd

dafd

# 숫자 출력할 때와 문자를 출력할 때가 다름

In [2]:
print("# 하나만 출력합니다.")
print()
print(10,20,30)

# 하나만 출력합니다.

10 20 30

# 자료형과 문자열
- 숫자
- 문자
- 논리(True or false)

In [4]:
print(type("안녕하세요"))

<class 'str'>

In [6]:
import pandas as pd
df = pd.DataFrame({
    'col1' : [1,2,3],
    'col2' : [1,2,3],
})

print(type(df))

<class 'pandas.core.frame.DataFrame'>

C:\Users\user\AppData\Local\Temp\ipykernel_1436\170484296.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

## 문자열 만들기
- 큰 따옴표 방식 / 작은 따옴표 방식
- 결론부터 말하면, 지금은 크게 구분하지 않는다.
- 주의해야하는 것은 "", ''식으로 매칭 시켜주어야 한다.
- ex) ' " <-- 이런것 안됨

In [7]:
print('안녕하세요')
#앞 뒤 따옴표를 맞춰준다.

안녕하세요

- p89 확인
- 문장 가운데 큰 따옴표를 구분하는 법 -> 문장 시작과 끝을 매칭만 잘 시켜주면 됨.

In [8]:
print('"안녕하세요"라고 말햇습니다')

"안녕하세요"라고 말햇습니다

#이스케이프 문자
- \n : 줄바꿈
- \t : 탭
- \\ : 역슬래시(\)를 의미합니다.

In [9]:
print("안녕하세요\n안녕하세요")

안녕하세요
안녕하세요

In [11]:
print("안녕하세요\t안녕하세요")

안녕하세요	안녕하세요

# 문자열 연산자 (중요)
- 자주 사용함
- 사칙연산 중에서 덧셈과 곱셈 사용 가능

In [12]:
print(2+2)
print(5-2)
print(6*3)
print(3/6)

4
3
18
0.5

In [13]:
print("안녕"+"하세요")

안녕하세요

In [17]:
var1 = "안녕"
var2 = "하세요"

result = var1 + var2
print(result)

안녕하세요

In [18]:
var1 = "안녕"
var2 = "하세요"

result = var1 *3
print(result)

안녕안녕안녕

In [19]:
num1 = 1
var1 = "안녕"

result = num1 + var1
print(result)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [26]:
num1 = 1
var1 = "안녕"  # Example of a numeric string

result = str(num1) + var1
print(result)

1안녕

In [28]:
num1 = 1
var1 = "gg"  # Example of a numeric string

result = num1 + int(var1)
print(result)

ValueError: invalid literal for int() with base 10: 'gg'

In [30]:
num1 = 1
var1 = "gg"

float(var1)
result = num1 + int(var1)
print(result)

ValueError: could not convert string to float: 'gg'

## 문자 선택 연산자(인덱싱): []
- 리스트, 튜플 등등 원리는 동일함.

In [35]:
var1 = "안녕하세요"
print(var1[:3])
print(var1[0])
print(var1[2])
print(var1[-1])

안녕하
안
하
요

In [36]:
var1 = "안녕하세     요"
print(var1[5])

## 문자열 범위 선택(슬라이싱) [:]
- 리스트, 튜플 등 자료형과 원리 동일

In [38]:
       #01234 -> 인덱스 번호

var1 = "Hello Python!!!"
print(var1[1:4])
print(var1[2:5])

ell
llo

In [40]:
var1 = "Hello Python!!!"
print(var1[7:])

ython!!!

In [43]:
var1 = "Hello Python!!!"
print(var1[:6])

Hello

# 인덱스 에러가 발생하는 경우

In [45]:
var1 = "Hello Python!!!"
print(var1[100]) 
#print(var1[:100]) -> 이렇게 코드를 작성하면 정상적으로 나옴.

IndexError: string index out of range

In [46]:
len(var1)

15

In [47]:
var1 = "abababababababababab"
print(var1[0::2])

aaaaaaaaaa

In [49]:
var1 = "abababababababababab"
print(var1[0:])

abababababababababab

In [50]:
var1 = "abababababababababab"
print(var1[:])

abababababababababab

In [51]:
var1 = "abababababababababab"
print(var1[:-1])

abababababababababa

# 자료형과 숫자

## 지수 표현

In [53]:
0.522723e2

52.2723

In [54]:
0.52273e-2

0.0052273

## 사칙 연산

In [56]:
6/3  #나눗셈은 실수형으로 표현된다.

2.0

In [57]:
6*3

18

In [58]:
2.0 + 3 #실수형과 정수형의 덧셈은 실수형으로 표현됨 '실수형 > 정수형'으로 기억

5.0

In [59]:
3 // 2 # // 나누기 연산자

1

In [61]:
3 % 2 # % 나머지 연산자

1

In [62]:
3 ** 2 # 제곱 연산자

9

In [63]:
number = 100
number = number + 10
print(number)

110

In [64]:
number = 100
number += 10
print(number)

110

In [66]:
sample_text = "안녕"
sample_text += 'i'
print(sample_text)

안녕i

## input()

In [68]:
num1 = input("숫자를 입력하세요!!")
num2 = input("숫자를 입력하세요!!")

result = int(num1) + int(num2)
print(result)

숫자를 입력하세요!! 5
숫자를 입력하세요!! 6

11

In [74]:
num1 = "52"
num2 = "52.388"

print(int(num1))
print(float(num2))

52
52.388

- "52.273"처럼 소숫점이 있는 문자열은 바로 정수 변한이 안됨 (주의)
  + 문자열 ==> 실수형 ==> 정수형

In [75]:
print(int(float(num2)))

52

In [76]:
name = '홍길동'
age = 30
print(f"나의 이름은 {name}이고 나이는 {age}입니다")

나의 이름은 홍길동이고 나이는 30입니다

In [77]:
age = 30
print(f'나는 내년이면 {age+1}살이 된다')

나는 내년이면 31살이 된다

# 문자열 포매팅
- 강사는 f-문자열 좋아함
- `f'문자열{표현식}문자열'`

In [78]:
# {} format() 함수 방식
num1 = 10
"{}".format(num1)

'10'

In [79]:
num1 = 10
f'{num1}'

'10'

## 문자열의 내장 메소드
- 공식문서 꼭 확인

## 8교시에 할 것
- 문자열 내장 메소드 익히기
- f-문자열 익히기

In [80]:
print("안녕" in "안녕하세요")

True

In [81]:
print("안" in "안녕하세요")

True

In [82]:
print("안녕허" in "안녕하세요")

False

In [90]:
a = "10 20 30 40 50".split("30") # str.split()과 같은 것임.
a

['10 20 ', ' 40 50']

In [95]:
a = "10 20 30 40 50".split(sep=".") # str.split()과 같은 것임. -> 파이썬 공식문서 찾을때 
a

['10', '20', '30', '40', '50']

In [91]:
filename = "sample.file.txt"
parts = filename.split('.')
parts

['sample', 'file', 'txt']

# 리스트와 튜플

In [117]:
a = list()
b = []
c = [1,2,3]
d = ["a", "b", "c", "d"]
e = [1, 2, "a", None, True]
f = [1, 2, 3, [1, 2, "Hello Python!!", None, True]]  #Nested List, 중첩 리스트라고 표현함
#리스트를 만드는 여러가지 방식들

In [118]:
a

[]

In [119]:
b

[]

In [120]:
c

[1, 2, 3]

In [121]:
f

[1, 2, 3, [1, 2, 'Hello Python!!', None, True]]

In [122]:
print(f[3])

[1, 2, 'Hello Python!!', None, True]

In [116]:
f_a = f[3]
text = f_a[2]
text[6:13]

'Python!'

In [139]:
g = [1, 2, 3, 4, 5, 6, [1, 2, "Hi,,,, !! Python !!! Hello, ", None, True]]
result = g[6][2][10:16]
result

'Python'

In [145]:
g = [1, 2, 3, 4, 5, 6, [1, 2, "Hi,,,, !! Python !!! Hello, ", None, True]]
g_a = g[6]
print(g_a[2][9:13])

 Pyt